@charset "utf-8";

/** 프로젝트에 따라 속성값 변경 **/

/*============================================================
default rem & grid style
============================================================*/
html {
    font-size: 125%; /* 20px */
}
body {
    font-family: "KiaSignature", "Nanum Gothic", "Malgun Gothic", "돋움", "dotum", "AppleGothic", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.5px;
    color: #05141f;
}
/* grid
============================================================*/
[class^="grid"] {
    position: relative;
    margin: 0 auto;
}
.grid1170 {
    max-width: 1170px;
}
.grid1030 {
    max-width: 1030px;
}

@media screen and (max-width: 1199.98px) {
    html {
        font-size: 112.5%; /* 18px */
    }
    .grid1170,
    .grid1030 {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 991.98px) {
    html {
        font-size: 100%; /* 16px */
    }
}
@media screen and (max-width: 767.98px) {
    html {
        font-size: 87.5%; /* 14px */
    }
}
@media screen and (max-width: 575.98px) {
    html {
        font-size: 75%; /* 12px */
    }
}

/*============================================================
flex align
============================================================*/
.flex-box {
    display: flex;
    flex-wrap: wrap;
}
.flex-row {
    flex-direction: row;
}
.flex-row__rv {
    flex-direction: row-reverse;
}
.flex-col {
    flex-direction: column;
}
.flex-col__rv {
    flex-direction: column-reverse;
}
.flex-spc__btw {
    justify-content: space-between;
}
.flex-spc__ard {
    justify-content: space-around;
}
.flex-spc__cnt {
    justify-content: center;
}
.flex-spc__end {
    justify-content: flex-end;
}
.flex-align__top {
    align-items: flex-start;
}
.flex-align__cnt {
    align-items: center;
}
.flex-align__btm {
    align-items: flex-end;
}

/*============================================================
padding & margin
============================================================*/
/* padding
============================================================*/
.p0 {
    padding: 0 !important
}
.pt0 {
    padding-top: 0 !important;
}
.pb0 {
    padding-bottom: 0 !important;
}
.pl0 {
    padding-left: 0 !important;
}
.pr0 {
    padding-right: 0 !important;
}
.p5 {
    padding: 0.25rem !important
}
.pt5 {
    padding-top: 0.25rem !important;
}
.pb5 {
    padding-bottom: 0.25rem !important;
}
.pl5 {
    padding-left: 0.25rem !important;
}
.pr5 {
    padding-right: 0.25rem !important;
}
.p10 {
    padding: 0.5rem !important;
}
.pt10 {
    padding-top: 0.5rem !important;
}
.pb10 {
    padding-bottom: 0.5rem !important;
}
.pl10 {
    padding-left: 0.5rem !important;
}
.pr10 {
    padding-right: 0.5rem !important;
}
.p15 {
    padding: 0.75rem !important;
}
.pt15 {
    padding-top: 0.75rem !important;
}
.pb15 {
    padding-bottom: 0.75rem !important;
}
.pl15 {
    padding-left: 0.75rem !important;
}
.pr15 {
    padding-right: 0.75rem !important;
}
.p20 {
    padding: 1rem !important;
}
.pt20 {
    padding-top: 1rem !important;
}
.pb20 {
    padding-bottom: 1rem !important;
}
.pl20 {
    padding-left: 1rem !important;
}
.pr20 {
    padding-right: 1rem !important;
}
.p25 {
    padding: 1.25rem !important;
}
.pt25 {
    padding-top: 1.25rem !important;
}
.pb25 {
    padding-bottom: 1.25rem !important;
}
.pl25 {
    padding-left: 1.25rem !important;
}
.pr25 {
    padding-right: 1.25rem !important;
}
.p30 {
    padding: 1.5rem !important;
}
.pt30 {
    padding-top: 1.5rem !important;
}
.pb30 {
    padding-bottom: 1.5rem !important;
}
.pl30 {
    padding-left: 1.5rem !important;
}
.pr30 {
    padding-right: 1.5rem !important;
}
.p35 {
    padding: 1.75rem !important;
}
.pt35 {
    padding-top: 1.75rem !important;
}
.pb35 {
    padding-bottom: 1.75rem !important;
}
.pl35 {
    padding-left: 1.75rem !important;
}
.pr35 {
    padding-right: 1.75rem !important;
}
.p40 {
    padding: 2rem !important;
}
.pt40 {
    padding-top: 2rem !important;
}
.pb40 {
    padding-bottom: 2rem !important;
}
.pl40 {
    padding-left: 2rem !important;
}
.pr40 {
    padding-right: 2rem !important;
}
.p45 {
    padding: 2.25rem !important;
}
.pt45 {
    padding-top: 2.25rem !important;
}
.pb45 {
    padding-bottom: 2.25rem !important;
}
.pl45 {
    padding-left: 2.25rem !important;
}
.pr45 {
    padding-right: 2.25rem !important;
}
.p50 {
    padding: 2.5rem !important;
}
.pt50 {
    padding-top: 2.5rem !important;
}
.pb50 {
    padding-bottom: 2.5rem !important;
}
.pl50 {
    padding-left: 2.5rem !important;
}
.pr50 {
    padding-right: 2.5rem !important;
}
.p55 {
    padding: 2.75rem !important;
}
.pt55 {
    padding-top: 2.75rem !important;
}
.pb55 {
    padding-bottom: 2.75rem !important;
}
.pl55 {
    padding-left: 2.75rem !important;
}
.pr55 {
    padding-right: 2.75rem !important;
}
.p60 {
    padding: 3rem !important;
}
.pt60 {
    padding-top: 3rem !important;
}
.pb60 {
    padding-bottom: 3rem !important;
}
.pl60 {
    padding-left: 3rem !important;
}
.pr60 {
    padding-right: 3rem !important;
}
.p65 {
    padding: 3.25rem !important;
}
.pt65 {
    padding-top: 3.25rem !important;
}
.pb65 {
    padding-bottom: 3.25rem !important;
}
.pl65 {
    padding-left: 3.25rem !important;
}
.pr65 {
    padding-right: 3.25rem !important;
}
.p70 {
    padding: 3.5rem !important;
}
.pt70 {
    padding-top: 3.5rem !important;
}
.pb70 {
    padding-bottom: 3.5rem !important;
}
.pl70 {
    padding-left: 3.5rem !important;
}
.pr70 {
    padding-right: 3.5rem !important;
}
.p75 {
    padding: 3.75rem !important;
}
.pt75 {
    padding-top: 3.75rem !important;
}
.pb75 {
    padding-bottom: 3.75rem !important;
}
.pl75 {
    padding-left: 3.75rem !important;
}
.pr75 {
    padding-right: 3.75rem !important;
}
.p80 {
    padding: 4rem !important;
}
.pt80 {
    padding-top: 4rem !important;
}
.pb80 {
    padding-bottom: 4rem !important;
}
.pl80 {
    padding-left: 4rem !important;
}
.pr80 {
    padding-right: 4rem !important;
}
.p85 {
    padding: 4.25rem !important;
}
.pt85 {
    padding-top: 4.25rem !important;
}
.pb85 {
    padding-bottom: 4.25rem !important;
}
.pl85 {
    padding-left: 4.25rem !important;
}
.pr85 {
    padding-right: 4.25rem !important;
}
.p90 {
    padding: 4.5rem !important;
}
.pt90 {
    padding-top: 4.5rem !important;
}
.pb90 {
    padding-bottom: 4.5rem !important;
}
.pl90 {
    padding-left: 4.5rem !important;
}
.pr90 {
    padding-right: 4.5rem !important;
}
.p95 {
    padding: 4.75rem !important;
}
.pt95 {
    padding-top: 4.75rem !important;
}
.pb95 {
    padding-bottom: 4.75rem !important;
}
.pl95 {
    padding-left: 4.75rem !important;
}
.pr95 {
    padding-right: 4.75rem !important;
}
.p100 {
    padding: 5rem !important;
}
.pt100 {
    padding-top: 5rem !important;
}
.pb100 {
    padding-bottom: 5rem !important;
}
.pl100 {
    padding-left: 5rem !important;
}
.pr100 {    
    padding-right: 5rem !important;
}
/* margin
============================================================*/
.m0 {
    margin: 0 !important
}
.mt0 {
    margin-top: 0 !important;
}
.mb0 {
    margin-bottom: 0 !important;
}
.ml0 {
    margin-left: 0 !important;
}
.mr0 {
    margin-right: 0 !important;
}
.m5 {
    margin: 0.25rem !important
}
.mt5 {
    margin-top: 0.25rem !important;
}
.mb5 {
    margin-bottom: 0.25rem !important;
}
.ml5 {
    margin-left: 0.25rem !important;
}
.mr5 {
    margin-right: 0.25rem !important;
}
.m10 {
    margin: 0.5rem !important;
}
.mt10 {
    margin-top: 0.5rem !important;
}
.mb10 {
    margin-bottom: 0.5rem !important;
}
.ml10 {
    margin-left: 0.5rem !important;
}
.mr10 {
    margin-right: 0.5rem !important;
}
.m15 {
    margin: 0.75rem !important;
}
.mt15 {
    margin-top: 0.75rem !important;
}
.mb15 {
    margin-bottom: 0.75rem !important;
}
.ml15 {
    margin-left: 0.75rem !important;
}
.mr15 {
    margin-right: 0.75rem !important;
}
.m20 {
    margin: 1rem !important;
}
.mt20 {
    margin-top: 1rem !important;
}
.mb20 {
    margin-bottom: 1rem !important;
}
.ml20 {
    margin-left: 1rem !important;
}
.mr20 {
    margin-right: 1rem !important;
}
.m25 {
    margin: 1.25rem !important;
}
.mt25 {
    margin-top: 1.25rem !important;
}
.mb25 {
    margin-bottom: 1.25rem !important;
}
.ml25 {
    margin-left: 1.25rem !important;
}
.mr25 {
    margin-right: 1.25rem !important;
}
.m30 {
    margin: 1.5rem !important;
}
.mt30 {
    margin-top: 1.5rem !important;
}
.mb30 {
    margin-bottom: 1.5rem !important;
}
.ml30 {
    margin-left: 1.5rem !important;
}
.mr30 {
    margin-right: 1.5rem !important;
}
.m35 {
    margin: 1.75rem !important;
}
.mt35 {
    margin-top: 1.75rem !important;
}
.mb35 {
    margin-bottom: 1.75rem !important;
}
.ml35 {
    margin-left: 1.75rem !important;
}
.mr35 {
    margin-right: 1.75rem !important;
}
.m40 {
    margin: 2rem !important;
}
.mt40 {
    margin-top: 2rem !important;
}
.mb40 {
    margin-bottom: 2rem !important;
}
.ml40 {
    margin-left: 2rem !important;
}
.mr40 {
    margin-right: 2rem !important;
}
.m45 {
    margin: 2.25rem !important;
}
.mt45 {
    margin-top: 2.25rem !important;
}
.mb45 {
    margin-bottom: 2.25rem !important;
}
.ml45 {
    margin-left: 2.25rem !important;
}
.mr45 {
    margin-right: 2.25rem !important;
}
.m50 {
    margin: 2.5rem !important;
}
.mt50 {
    margin-top: 2.5rem !important;
}
.mb50 {
    margin-bottom: 2.5rem !important;
}
.ml50 {
    margin-left: 2.5rem !important;
}
.mr50 {
    margin-right: 2.5rem !important;
}
.m55 {
    margin: 2.75rem !important;
}
.mt55 {
    margin-top: 2.75rem !important;
}
.mb55 {
    margin-bottom: 2.75rem !important;
}
.ml55 {
    margin-left: 2.75rem !important;
}
.mr55 {
    margin-right: 2.75rem !important;
}
.m60 {
    margin: 3rem !important;
}
.mt60 {
    margin-top: 3rem !important;
}
.mb60 {
    margin-bottom: 3rem !important;
}
.ml60 {
    margin-left: 3rem !important;
}
.mr60 {
    margin-right: 3rem !important;
}
.m65 {
    margin: 3.25rem !important;
}
.mt65 {
    margin-top: 3.25rem !important;
}
.mb65 {
    margin-bottom: 3.25rem !important;
}
.ml65 {
    margin-left: 3.25rem !important;
}
.mr65 {
    margin-right: 3.25rem !important;
}
.m70 {
    margin: 3.5rem !important;
}
.mt70 {
    margin-top: 3.5rem !important;
}
.mb70 {
    margin-bottom: 3.5rem !important;
}
.ml70 {
    margin-left: 3.5rem !important;
}
.mr70 {
    margin-right: 3.5rem !important;
}
.m75 {
    margin: 3.75rem !important;
}
.mt75 {
    margin-top: 3.75rem !important;
}
.mb75 {
    margin-bottom: 3.75rem !important;
}
.ml75 {
    margin-left: 3.75rem !important;
}
.mr75 {
    margin-right: 3.75rem !important;
}
.m80 {
    margin: 4rem !important;
}
.mt80 {
    margin-top: 4rem !important;
}
.mb80 {
    margin-bottom: 4rem !important;
}
.ml80 {
    margin-left: 4rem !important;
}
.mr80 {
    margin-right: 4rem !important;
}
.m85 {
    margin: 4.25rem !important;
}
.mt85 {
    margin-top: 4.25rem !important;
}
.mb85 {
    margin-bottom: 4.25rem !important;
}
.ml85 {
    margin-left: 4.25rem !important;
}
.mr85 {
    margin-right: 4.25rem !important;
}
.m90 {
    margin: 4.5rem !important;
}
.mt90 {
    margin-top: 4.5rem !important;
}
.mb90 {
    margin-bottom: 4.5rem !important;
}
.ml90 {
    margin-left: 4.5rem !important;
}
.mr90 {
    margin-right: 4.5rem !important;
}
.m95 {
    margin: 4.75rem !important;
}
.mt95 {
    margin-top: 4.75rem !important;
}
.mb95 {
    margin-bottom: 4.75rem !important;
}
.ml95 {
    margin-left: 4.75rem !important;
}
.mr95 {
    margin-right: 4.75rem !important;
}
.m100 {
    margin: 5rem !important;
}
.mt100 {
    margin-top: 5rem !important;
}
.mb100 {
    margin-bottom: 5rem !important;
}
.ml100 {
    margin-left: 5rem !important;
}
.mr100 {    
    margin-right: 5rem !important;
}
.m110 {
    margin: 5.5rem !important;
}

/*============================================================
percent width
============================================================*/
.w-pct__20 {
    width: 20% !important;
}
.w-pct__25 {
    width: 25% !important;
}
.w-pct__30 {
    width: 30% !important;
}
.w-pct__33 {
    width: 33.33% !important;
}
.w-pct__35 {
    width: 35% !important;
}
.w-pct__40 {
    width: 40% !important;
}
.w-pct__49 {
    width: 49% !important;
}
.w-pct__50 {
    width: 50% !important;
}
.w-pct__60 {
    width: 60% !important;
}
.w-pct__65 {
    width: 65% !important;
}
.w-pct__100 {
    width: 100% !important;
}

/*============================================================
font style
============================================================*/
/* font family
============================================================*/
.fw300 {
    font-weight: 300 !important;
}
.fw400 {
    font-weight: 400 !important;
}
.fw700 {
    font-weight: 700 !important;
}
/* font size
============================================================*/
.fs46 {
    font-size: 2.3rem;
}
.fs38 {
    font-size: 1.9rem;
}
.fs36 {
    font-size: 1.8rem;
}
.fs34 {
    font-size: 1.7rem;
}
.fs32 {
    font-size: 1.6rem;
}
.fs30 {
    font-size: 1.5rem;
}
.fs28 {
    font-size: 1.4rem;
}
.fs26 {
    font-size: 1.3rem;
}
.fs24 {
    font-size: 1.2rem;
}
.fs22 {
    font-size: 1.1rem;
}
.fs20 {
    font-size: 1rem;
}
.fs18 {
    font-size: 0.9rem;
}

@media screen and (max-width: 575.98px) {
    .fs38,
    .fs38__mo {
        font-size: 2.1rem;
    }
    .fs36,
    .fs36__mo {
        font-size: 2rem;
    }
    .fs34,
    .fs34__mo {
        font-size: 1.9rem;
    }
    .fs32,
    .fs32__mo {
        font-size: 1.8rem;
    }
    .fs30,
    .fs30__mo {
        font-size: 1.8rem;
    }
    .fs28,
    .fs28__mo {
        font-size: 1.7rem;
    }
    .fs26,
    .fs26__mo {
        font-size: 1.6rem;
    }
    .fs24,
    .fs24__mo {
        font-size: 1.5rem;
    }
    .fs22,
    .fs22__mo {
        font-size: 1.4rem;
    }
    .fs20,
    .fs20__mo {
        font-size: 1.3rem;
    }
    .fs18,
    .fs18__mo {
        font-size: 1.2rem;
    }
}
/* text align
============================================================*/
.txt-lt {
    text-align: left;
}
.txt-rt {
    text-align: right;
}
.txt-cnt {
    text-align: center;
}

@media (max-width: 575.98px) {
    .txt-lt__mo {
        text-align: left;
    }
    .txt-rt__mo {
        text-align: right;
    }
}
/* text ellipsis
============================================================*/
.txt-elp {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.txt-elp__multi {
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .txt-elp-multi {
        display: block;
    }
}
/* text indent
============================================================*/
.txt-indent {
    position: relative;
}
.txt-indent .mark {
    position: absolute;
    top: 0;
    left: 0;
    font-style: initial;
}

.fs22.txt-indent {
    padding-left: 1.25rem;
}
.fs18.txt-indent {
    padding-left: 1rem;
}

@media screen and (max-width: 575.98px) {
    .fs22.txt-indent {
        padding-left: 1.75rem;
    }
    .form-tip.fs18.txt-indent {
        padding-left: 1.5rem;
    }
}
/* hidden text
============================================================*/
.txt-hidden {
    display:inline-block;
    overflow:hidden;
    width:1px;
    height:1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}
/* text linebreak
============================================================*/
.txt-linebreak {
    display: block;
}

@media (max-width: 575.98px) {
    .txt-linebreak {
        display: inline;
    }
    .txt-linebreak__mo {
        display: block;
    }
}

/*============================================================
color palatte
============================================================*/
/* font color
============================================================*/
.fc-white {
    color: #fff !important;
}
.fc-red {
    color: #e8002a !important;
}
.fc-yellow {
    color: #f3c300 !important;
}
.fc-green {
    color: #5d7d2b !important;
}
.fc-indigo {
    color: #3c576b !important;
}
.fc-brown {
    color: #b17938 !important
}
.fc-black {
    color: #05141f !important;
}
/* background color
============================================================*/
.white {
    background-color: #fff !important;
}
.yellow {
    background-color: #f3c300 !important;
}
.lightgrey {
    background-color: #f0f0f0 !important;
}
.black {
    background-color: #05141f !important;
}

/*============================================================
show and hide
============================================================*/
.pc-show {
    display: block;
}
.mo-show {
    display: none;
}

@media (max-width: 575.98px) {
    .pc-show {
        display: none !important;
    }
    .mo-show {
        display: block !important;
    }
}

/*============================================================
modal
============================================================*/
body.full {
    overflow: hidden;
}
.modal-area {
    overflow: auto;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}
[class^="modal-wrap__"] {
    position: relative;
}
.modal-wrap__rlt {
    max-width: 670px;
    margin: 5rem auto;
}
.modal-wrap__abs {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 670px;
}
[class^="modal-wrap__"] > .close-modal-btn {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
    background-color: #000;
    /* background-color: #05141f; */
    border-radius: 100%;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}
[class^="modal-wrap__"] > .close-modal-btn::before,
[class^="modal-wrap__"] > .close-modal-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 1.5rem;
    background-color: #fff;
}
[class^="modal-wrap__"] > .close-modal-btn::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
[class^="modal-wrap__"] > .close-modal-btn::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}
.modal-hd {
    padding: 3rem 2.5rem 2.5rem;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.modal-hd-greet {
    position: relative;
    padding-bottom: 4rem;
}
.modal-hd-greet::after {
    content: "";
    position: absolute;
    top: 2.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 2px;
    height: 2rem;
    background-color: #b2b2b2;
}
.modal-hd-tit {
    padding-top: 0.5rem;
    line-height: 1.4;
}
.modal-hd-txt {
    padding-top: 1rem;
    line-height: 1.4;
}
.modal-cont {
    padding: 3rem 2.5rem 4rem;
    margin-top: -1px;
    background-color: #f0f0f0;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.modal-cont-tit {
    line-height: 1.4;
    text-align: center;
}
.modal-cont-txt {
    line-height: 1.4;
}
.modal-btn-box {
    padding-top: 2.5rem;
    text-align: center;
}
[class^="modal-btn__"] {
    display: inline-block;
    background-color: #f3c300;
}
[class^="modal-btn__"] .label {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 1.3rem;
}
.modal-btn__circ {
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
}
.modal-btn__circ .label {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
.modal-btn__rect {
    padding: 1.5rem 0;
    width: 13.5rem;
    border-radius: 0.5rem;
}
.modal-btn__login {
    width: 16.5rem;
    background-color: #ffdd00;
    border-radius: 5px;
}
.modal-btn__login .label {
    padding: 1.25rem 0 1.25rem 2rem;
    font-size: 1rem;
    color: #412e34;
    background: url("../images/modal-login-kakao.png") no-repeat center left;
    background-size: 1.5rem;
}

@media screen and (max-width: 670.98px) {
    .modal-wrap__rlt {
        margin-left: 20px;
        margin-right: 20px;
    }
    .modal-wrap__abs {
        width: calc(100% - 40px);
    }
}
@media screen and (max-width: 575.98px) {
    [class^="modal-wrap__"] > .close-modal-btn {
        top: -2rem;
        width: 4rem;
        height: 4rem;
    }
    [class^="modal-wrap__"] > .close-modal-btn::before, [class^="modal-wrap__"] > .close-modal-btn::after {
        height: 2rem;
    }
    .modal-hd,
    .modal-cont {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    [class^="modal-btn__"] .label {
        color: #000;
        font-size: 1.6rem;
    }
    .modal-btn__rect {
        padding: 1.75rem 0;
        width: 100%;
    }
    .modal-btn__circ {
        width: 10rem;
        height: 10rem;
    }
    .modal-btn__login {
        width: 100%;
    }
    .modal-btn__login .label {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        font-size: 1.3rem;
    }
}

/*============================================================
form
============================================================*/
/* form field
============================================================*/
.form-field {
    padding: 3rem 0;
}
.form-field + .form-field {
    border-top: 2px dashed #c7cfd9;
}
/* form row
============================================================*/
.form-row + .form-row {
    padding-top: 0.5rem;
}

@media (max-width: 575.98px) {
    .form-row + .form-row {
        padding-top: 2rem;
    }
}
/* form element layout
============================================================*/
.form-el-label {
    cursor: auto;
}
.form-el-box {
    position: relative;
}
.form-el {
    width: 100%;
    background-color: #fff;
}
.form-el::placeholder {
    color: #b3b4b4;
}
.form-el-wrap__row .form-el-label {
    display: block;
    padding-bottom: 1rem;
}
.form-el-wrap__col .form-el-label {
    padding-left: 1.5rem;
    width: 8rem;
    height: 4.5rem;
    font-size: 1.4rem;
    line-height: 4.5rem;
    background-color: #e2e3e3;
}
.form-el-wrap__col .form-el-box {
    width: calc(100% - 8rem);
    background-color: #e2e3e3;
}
.form-el-wrap__col .form-el {
    background-color: #e2e3e3;
}

@media (max-width: 575.98px) {
    .form-el-label {
        padding-bottom: 1rem;
    }
    .form-el-wrap__col .form-el-label {
        padding-bottom: 1rem;
        padding-left: 0;
        width: 100%;
        height: auto;
        line-height: initial;
        background-color: transparent;
    }
    .form-el-wrap__col .form-el-box {
        width: 100%;
    }
}
/* form element
============================================================*/
.form-input-txt {
    padding: 0 1rem;
    height: 4.5rem;
    font-size: 1.6rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
}
.form-term-box {
    overflow-y: scroll;
    padding: 1.5rem;
    height: 8rem;
    font-size: 0.9rem;
    line-height: 1.7;
    color: #666;
    background-color: #f0f1f1;
}
[class^="form-chk__"] input {
    overflow: hidden;
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}
.form-chk-label {
    font-size: 1.2rem;
    cursor: pointer;
}
.form-chk__circ .form-chk-label {
    display: inline-block;
    position: relative;
    padding-left: 2rem;
    line-height: 1.4;
}
.form-chk__circ .form-chk-label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #f0f1f1;
    background-image: url("../images/form-check-ico.png");
    border-radius: 100%;
}
.form-chk__circ input:checked + .form-chk-label::before {
    background-color: #05141f;
}
.form-btn {
    height: 4.5rem;
    text-align: center;
    color: #152330;
    border: 2px solid #152330;
}
.form-tip {
    line-height: 1.4;
    letter-spacing: -1.5px;
}

@media (max-width: 575.98px) {
    .form-input-txt {
        padding: 0 2rem;
        height: 5rem;
        line-height: 5rem;
    }
    .form-term-box {
        font-size: 1.2rem;
    }
    .form-chk-label {
        font-size: 1.4rem;
    }
    .form-chk__circ .form-chk-label {
        padding-left: 3.5rem;
    }
    .form-chk__circ .form-chk-label::before {
        width: 2.5rem;
        height: 2.5rem;
    }
    .form-btn {
        height: 5rem;
        font-size: 1.4rem;
    }
}

/*============================================================
policy
============================================================*/
.policy-wrap {
    line-height: 1.7;
}
.policy-hd-tit {
    padding: 4rem 0 1.5rem;
}
.policy-sub-tit {
    display: block;
    padding: 2rem 0 0.5rem;
    font-weight: 400;
}
.policy-txt {
    font-weight: 300;
}
.policy-tbl {
    margin: 2rem 0;
    width: 100%;
}
.policy-tbl th,
.policy-tbl td {
    padding: 0.75rem 1rem;
    font-weight: 300;
}
.policy-tbl thead th {
    background-color: #d9d9d9;
}
.policy-tbl tbody td {
    border-bottom: 1px solid #d9d9d9;
}