<!Doctype html>
<html lang="ko">
    <head>
        <title>The all-new Kia 니로 PREVIEW</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_ZOoOe">
        <meta name="keywords" content="니로, 니로 풀체인지, 니로 카카오톡 이벤트, 니로 PREVIEW">
        <meta name="description" content="The all-new Kia 니로 카카오톡 채널에서 소식을 확인하고 경품도 받아가세요!">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="" >
        <meta property="og:title" content="The all-new Kia 니로 PREVIEW">
        <meta property="og:description" content="The all-new Kia 니로 카카오톡 채널에서 소식을 확인하고 경품도 받아가세요!">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="The all-new Kia 니로 PREVIEW">
        <meta property="twitter:description" content="The all-new Kia 니로 카카오톡 채널에서 소식을 확인하고 경품도 받아가세요!">
        <meta property="twitter:image" content="../../content/images/share.png">

        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico"> <!-- Chrome, Safari, IE -->
        <link rel="icon" type="image/png" href="../../content/images/favicon.png"> <!-- Firefox, Opera -->

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/content.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body class="full">
        <!-- main START -->
        <main>
            <div class="main-vsl-area">
                <div class="grid1170 txt-cnt">
                    <div class="main-vsl-cont">
                        <span class="main-vsl-label fw700 fs32 fs20__mo fc-white">기아 니로 카카오톡 채널 OPEN</span>
                        <h1 class="main-vsl-tit">
                            <img src="../../content/images/main-visual-title.png" alt="니로 PREVIEW" class="pc-show">
                            <img src="../../content/images/main-visual-title-mo.png" alt="니로 PREVIEW" class="mo-show">
                        </h1>
                        <p class="main-vsl-txt fs30 fs22__mo fc-white">The all-new Kia 니로의 소식을 가장 빠르게 받아보는<br><strong class="fs30 fs24__mo">기아 니로 카카오톡 채널의 멤버가 되어주세요!</strong></p>
                    </div>
                </div>
            </div> <!-- //main visual area -->
            <article class="main-cont-area main-msn-area" id="mainMsnArea">
                <div class="grid1030">
                    <h3 class="main-cont-tit fw400 fs30 fs28__mo txt-cnt">미션을 완료하고 받은<br /> <strong class="fs36">쿠폰 번호를 입력해 주세요.</strong></h3>
                    <ul class="main-msn-list">
                        <li>
                            <a href="javascript:void(0);" class="main-msn-item active flex-box flex-align__cnt" onclick="openModal('modalLogin');">
                                <span class="main-msn-label fw700 fs22"><span class="txt-linebreak__mo">Mission</span> <b class="fs22">01</b></span>
                                <div class="main-msn-cont">
                                    <strong class="main-msn-tit">니로 연비 알아보기</strong>
                                    <span class="main-msn-state fw700 fs20 fs18__mo"><span class="txt-linebreak__mo">미션달성</span> 확인</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="main-msn-item open flex-box flex-align__cnt" onclick="openModal('modalCouponMsn2');">
                                <!-- <i class="main-msn-open-ico"><img src="../../content/images/main-mission-open-ico.png" alt="OPEN"></i> -->
                                <span class="main-msn-label fw700 fs22"><span class="txt-linebreak__mo">Mission</span> <b class="fs22">02</b></span>
                                <div class="main-msn-cont">
                                    <strong class="main-msn-tit"><span class="txt-linebreak__mo">메리 크리스마스</span> with 니로</strong>
                                    <span class="main-msn-state fw700 fs20 fs18__mo"><span class="txt-linebreak__mo">미션달성</span> 확인</span>
                                    <div class="main-msn-open-image"><img src="../../content/images/main-mission-open-image.png" alt="OPEN"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="main-msn-item flex-box flex-align__cnt" onclick="openModal('modalCouponMsn3');">
                                <span class="main-msn-label fw700 fs22"><span class="txt-linebreak__mo">Mission</span> <b class="fs22">03</b></span>
                                <div class="main-msn-cont">
                                    <strong class="main-msn-tit">추후 공개될 예정입니다.</strong>
                                    <span class="main-msn-state fw700 fs20 fs18__mo">COMING SOON</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="main-msn-item flex-box flex-align__cnt" onclick="openModal('modalCouponMsn4');">
                                <span class="main-msn-label fw700 fs22"><span class="txt-linebreak__mo">Mission</span> <b class="fs22">04</b></span>
                                <div class="main-msn-cont">
                                    <strong class="main-msn-tit">추후 공개될 예정입니다.</strong>
                                    <!-- <strong class="main-msn-tit"><i class="kakaomap-ico"><img src="../../content/images/main-mission-kakaomap-logo.png" alt="kakaomap 로고 이미지"></i>카카오맵에서 고객 희망 거점 전시차 입고 알림 신청</strong> -->
                                    <span class="main-msn-state fw700 fs20 fs18__mo">COMING SOON</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="main-msn-item flex-box flex-align__cnt" onclick="openModal('modalCouponMsn5');">
                                <span class="main-msn-label fw700 fs22"><span class="txt-linebreak__mo">Mission</span> <b class="fs22">05</b></span>
                                <div class="main-msn-cont">
                                    <strong class="main-msn-tit">추후 공개될 예정입니다.</strong>
                                    <span class="main-msn-state fw700 fs20 fs18__mo">COMING SOON</span>
                                </div>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="javascript:void(0);" class="main-msn-item flex-box flex-align__cnt" onclick="openModal('modalCouponMsn6');">
                                <span class="main-msn-label fw700 fs18">Mission <b class="fs22">06</b></span>
                                <div class="main-msn-cont">
                                    <strong class="main-msn-tit">추후 공개될 예정입니다.</strong>
                                    <span class="main-msn-state fw700 fs20 fs18__mo">COMING SOON</span>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </article> <!-- //미션 리스트 -->
            <article class="main-cont-area main-reward-area">
                <div class="grid1170">
                    <h3 class="main-cont-tit fw400 fs36 fs28__mo fc-white txt-cnt"><span class="fw700">미션을 완료</span> 할 때 마다<br /> 추첨을 통해 <span class="fw700">다양한 경품</span>을 드립니다</h3>
                    <div class="main-reward-wrap__top">
                        <h4 class="main-reward-tit fw400 fs24 fs20__mo">추첨을 통해<br>제공되는<br><strong class="fs30 fs24__mo fc-green">스페셜 리워드</strong></h4>
                        <figure>
                            <img src="../../content/images/main-reward-special.png" alt="삼성 갤럭시 Z Flip3 5G 5명, LG 코드제로 M9 로봇청소기 20명, GS칼텍스 상품권(50,000원) 300명" class="pc-show">
                            <img src="../../content/images/main-reward-special-mo.png" alt="삼성 갤럭시 Z Flip3 5G 5명, LG 코드제로 M9 로봇청소기 20명, GS칼텍스 상품권(50,000원) 300명" class="mo-show">
                        </figure> <!-- //오픈 후 스페셜 리워드 -->
                    </div>
                    <div class="main-reward-wrap__btm">
                        <h4 class="main-reward-tit fw400 fs24 fs20__mo">당첨을<br>바로 확인할 수 있는<br><strong class="fs30 fs24__mo fc-green">데일리 리워드</strong></h4>
                        <figure>
                            <img src="../../content/images/main-reward-daily.png" alt="스타벅스 아메리카노 HOT(TALL) 1500명, 미정) 플랫폼 이용권 300명" class="pc-show">
                            <img src="../../content/images/main-reward-daily-mo.png" alt="스타벅스 아메리카노 HOT(TALL) 1500명, 미정) 플랫폼 이용권 300명" class="mo-show">
                        </figure>
                    </div>
                    <p class="text-box fs20 txt-cnt pt20">* 스페셜 리워드는 이벤트 종료 후 일괄 배송</p>
                </div>
            </article> <!-- //리워드 소개 -->
            <article class="main-cont-area">
                <div class="grid1170">
                    <dl class="main-etc-wrap">
                        <dt class="main-cont-tit fw700 fs32">유의사항</dt>
                        <dd>
                            <p class="main-caution-txt fs22 fs20__mo txt-indent">쿠폰함에서 입력된 모든 쿠폰 내용을 확인할 수 있습니다.</p>
                            <p class="main-caution-txt fs22 fs20__mo txt-indent">스페셜 리워드 경품은 당첨 고지 후 2주 내에 당첨 확인 및 회신을 하지 않을 경우 당첨이 취소됩니다.</p>
                            <p class="main-caution-txt fs22 fs20__mo txt-indent">당첨된 경품(5만 원 초과)의 제세공과금(약 22%)은 본인 부담입니다.</p>
                            <p class="main-caution-txt fs22 fs20__mo txt-indent">비정상적이고 불법적인 방법으로 본 이벤트에 참여하신 경우 당첨이 취소됩니다.</p>
                            <p class="main-caution-txt fs22 fs20__mo txt-indent">개인정보 누락 및 오 기입, 휴대폰 해지/정지/번호 변경으로 인한 당첨 취소에 대한 책임은 당첨자에 있습니다.</p>
                            <p class="main-caution-txt fs22 fs20__mo txt-indent">당첨자가 당첨 포기를 원하는 경우, 당첨 및 경품에 대한 권리는 자동 소멸됩니다.</p>
                            <p class="main-caution-txt fs22 fs20__mo txt-indent">개인정보 수집 및 이용 동의는 개인정보보호법 규정에 의거하여 적용됩니다.</p>
                            <p class="main-caution-txt fs22 fs20__mo txt-indent">개인정보는 경품 발송 후 1개월 내에 폐기됩니다.</p>
                            <p class="main-caution-txt fs22 fs20__mo txt-indent">본 이벤트는 당사 사정에 의해 이벤트 내용이 변경되거나 조기 종료될 수 있습니다.</p>
                        </dd>
                    </dl>
                    <dl class="main-etc-wrap">
                        <dt class="main-cont-tit fw700 fs32">문의처</dt>
                        <dd>
                            <p class="fs30 fs26__mo fc-green">운영 사무국 (2022niro@gmail.com)</p>
                        </dd>
                    </dl>
                </div>
            </article> <!-- //유의사항, 문의처 -->
        </main>
        <!-- //main END -->
        <!-- footer START -->
        <footer>
            <div class="grid1170">
                <div class="ft-wrap flex-box flex-spc__btw flex-align__cnt">
                    <div class="ft-wrap__lt">
                        <span class="ft-logo"><img src="../../content/images/footer-logo.png" alt="기아 로고"></span>
                        <p class="copyright fs18">COPYRIGHT© Kia MOTORS CORP. ALL RIGHTS RESERVED.</p>
                    </div>
                    <div class="ft-wrap__rt">
                        <a href="privacy.html" class="ft-btn fs18">개인정보처리방침</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer END -->
        <!-- floating menu START -->
        <ul class="main-flt-menu-list">
            <li>
                <a href="https://pf.kakao.com/_bxftlb" target="_blank" title="니로 카카오톡 채널 바로 가기 (새 창 이동)" class="main-flt-menu">니로<br>카카오톡 채널<br>바로 가기</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="main-flt-menu fc-white box" onclick="sclToAnchor('mainMsnArea');">응모 하기</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="main-flt-menu" onclick="openModal('modalHistory');">응모 내역</a>
            </li>
        </ul>
        <!-- //floating menu START -->
        <!-- modal START -->
        <div class="modal-area" id="modalLogin">
            <div class="modal-wrap__abs">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalLogin');"><span class="txt-hidden">로그인 레이어 팝업 닫기</span></a>
                <div class="modal-hd">
                    <h3 class="modal-hd-tit fs38">로그인</h3>
                </div>
                <div class="modal-cont">
                    <h4 class="modal-cont-tit fw400 fs28">니로<br><b>이벤트에 응모</b>하려면<br><b>로그인하세요.</b></h4>
                    <div class="modal-btn-box">
                        <a href="javascript:void(0);" onclick="closeModal('modalLogin'); openModal('modalPrivacy');" class="modal-btn__login"><span class="label">카카오계정으로 로그인</span></a>
                    </div>
                </div>
            </div>
        </div> <!-- //로그인 모달 -->
        <div class="modal-area" id="modalPrivacy">
            <div class="modal-wrap__rlt">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalPrivacy');"><span class="txt-hidden">개인정보 입력 레이어 팝업 닫기</span></a>
                <div class="modal-hd yellow">
                    <h3 class="modal-hd-tit fs22">카카오톡 닉네임님 반갑습니다.</h3>
                </div>
                <div class="modal-cont white">
                    <h4 class="modal-cont-tit fw400 fs28">이벤트 당첨 시 경품 발송을 위해<br><b><span class="txt-linebreak__mo">본인의 개인 정보를</span> 입력해 주세요.</b></h4>
                    <div class="form-wrap">
                        <div class="form-field">
                            <div class="form-row">
                                <div class="form-el-wrap__col flex-box">
                                    <label class="form-el-label" for="myName">이름</label>
                                    <div class="form-el-box">
                                        <input type="text" class="form-el form-input-txt" id="myName">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-el-wrap__col flex-box">
                                    <label class="form-el-label" for="myTel">휴대전화</label>
                                    <div class="form-el-box">
                                        <input type="tel" class="form-el form-input-txt" id="myTel" placeholder="숫자로 입력해 주세요.">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <button class="form-btn fw700 w-pct__100 fs24">인증번호 받기</button>
                            </div>
                            <div class="form-row">
                                <div class="form-el-wrap__col flex-box">
                                    <label class="form-el-label" for="myCode">인증번호</label>
                                    <div class="form-el-box">
                                        <input type="number" class="form-el form-input-txt" id="myCode" placeholder="숫자로 입력해 주세요.">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="form-row">
                                <div class="form-chk__circ">
                                    <input type="checkbox" id="myTermCheck1">
                                    <label class="form-chk-label" for="myTermCheck1">개인정보 수집 및 이용에 동의합니다. (필수)</label>
                                </div>
                                <div class="form-term-box fw300 mt20">
                                    <p>기아자동차는 서비스 이용 시 이용자로부터 아래와 같은 개인 정보를 수집하고 있습니다. 이용자는 본 개인정보 수집·이용 동의서에 따른 동의 시, '필요한 최소한의 정보 외에 개인정보' 수집·이용에 동의하지 아니할 권리가 있습니다. 개인정보 취급 및 처리에 대한 상세한 사항은 사이트 하단에 공개한 '개인정보 처리방침'을 참조하십시오. 다만, 본 동의서 내용과 상충되는 부분은 본 동의서의 내용이 우선합니다.<br><br>1) 수집하는 개인정보의 이용목적<br>이벤트 당첨자 경품 발송<br><br>2) 수집 항목<br>필수 : 이름 / 휴대전화 번호 / 카카오톡 닉네임<br><br>3) 보유 및 이용기간<br>위 개인정보는 수집이용목적(이벤트 당첨자 확인)이 달성되면 즉시 폐기합니다.<br><br>※ 귀하께서는 개인정보 처리에 대한 동의를 거부하실 수 있으며, 동의를 거부하시더라도 홈페이지의 일부 기능은 이용이 가능합니다. 다만 동의를 거부하실 경우 이벤트 당첨 경품 발송이 제한될 수 있습니다.</p>
                                </div>
                            </div>
                            <div class="form-row pt50">
                                <div class="form-chk__circ">
                                    <input type="checkbox" id="myTermCheck2">
                                    <label class="form-chk-label" for="myTermCheck2">개인정보 위탁에 동의합니다. (필수)</label>
                                </div>
                                <div class="form-term-box fw300 mt20">
                                    <p>기아자동차는 서비스 이행을 위해 아래와 같이 개인정보 처리 업무(행사/이벤트 안내 및 운영 포함)를 외부 전문업체에 위탁하여 처리하고 있습니다. 개인정보 처리위탁은 개별 서비스별로 그 이행을 위해 필요한 경우에 한해 각 위탁업체에 대해 이루어집니다. 업체가 변경될 경우, 웹사이트 공지사항(또는 서면·이메일·전화·SMS 등의 방법으로 개별공지)을 통하여 알려 드리겠습니다.<br><br>(주)오십일퍼센트 : 이벤트 운영 및 응모자 개인정보 수집 및 관리, 당첨자 확인<br>(주)대학내일 : 이벤트 참여를 위한 응모 플랫폼 설계 및 구축<br>(주)티사이언티픽 : 모바일 기프티콘 발송<br><br>본 이벤트 참여 고객은 개인정보 취급 위탁에 대하여 동의를 거부할 권리가 있으며, 개인정보 취급 위탁 동의에 미동의 시 본 이벤트에 참여하실 수 없습니다.</p>
                                </div>
                            </div>
                            <div class="form-row pt50">
                                <div class="form-chk__circ">
                                    <input type="checkbox" id="myTermCheck3">
                                    <label class="form-chk-label" for="myTermCheck3">광고성 정보 수신에 동의합니다. (선택)</label>
                                </div>
                                <div class="form-term-box fw300 mt20">
                                    <p>본인은 기아자동차가 상기와 같이 본인의 개인 정보를 수집ㆍ이용하고, 광고성 정보를 전송하는 것에 대하여 동의합니다.<br><br>1) 개인정보의 수집/이용 목적<br>: 정보 분석을 통한 마케팅 활용 및 전자적 전송매체(SMS, LMS, MMS)를 이용한 기아자동차의 이벤트, 홍보 프로모션 정보 등 광고성 정보 전송<br><br>2) 수집 항목<br>필수 : 이름 / 휴대전화 번호<br><br>3) 보유 및 이용기간<br>개인 정보 수집 일로부터 3개월 (단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 관련 법령에 따라 보관)<br><br>※ 귀하께서는 개인정보 처리에 대한 동의를 거부하실 수 있으며, 동의를 거부하시더라도 홈페이지의 일부 기능은 이용이 가능합니다. 다만 동의를 거부하실 경우 이벤트 당첨 경품 발송이 제한될 수 있습니다.</p>
                                </div>
                            </div>
                            <div class="form-row pt50">
                                <p class="form-tip fw400 fs18 fc-red txt-indent"><i class="mark">※</i>본인 명의의 핸드폰 번호를 입력해 주세요.</p>
                                <p class="form-tip fw400 fs18 fc-red txt-indent"><i class="mark">※</i>개인정보 오기입으로 인한 응모 및 경품 수령 실패는 보상해드리지 않습니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-btn-box pt0">
                        <button class="modal-btn__circ" onclick="closeModal('modalPrivacy'); openModal('modalCouponMsn1');"><span class="label">등록</span></button>
                    </div>
                </div>
            </div>
        </div> <!-- //개인정보 입력 모달 -->
        <div class="modal-area" id="modalCheck">
            <div class="modal-wrap__abs">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalLogin');"><span class="txt-hidden">로그인 레이어 팝업 닫기</span></a>
                <div class="modal-hd">
                    <h3 class="modal-hd-tit fs38">이미 응모하셨습니다.</h3>
                </div>
                <div class="modal-cont">
                    <h4 class="modal-cont-tit fw400 fs28">니로 이벤트는<br><b>이벤트 하나당 한 번만 응모</b>하실 수 있습니다.</h4>
                    <div class="modal-btn-box pt0">
                        <button class="modal-btn__circ" onclick="closeModal('modalCheck');"><span class="label">닫기</span></button>
                    </div>
                </div>
            </div>
        </div> <!-- //로그인 모달 -->
        <div class="modal-area" id="modalCouponMsn1">
            <div class="modal-wrap__rlt">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalCouponMsn1');"><span class="txt-hidden">쿠폰 번호 입력 레이어 팝업 닫기</span></a>
                <div class="modal-hd">
                    <p class="modal-hd-greet fs24"><strong>김기아</strong>님 반갑습니다!</p>
                    <span class="modal-coupon-msn-label fw700 fs22">Misson 01</span>
                    <h3 class="modal-hd-tit fw400 fs30 fs26__mo"><b>니로 카카오톡 채널</b>에서 발급받은<br><b>쿠폰번호를 입력해 주세요.</b></h3>
                </div>
                <div class="modal-cont">
                    <div class="form-wrap">
                        <div class="form-row">
                            <div class="form-el-wrap__row">
                                <label class="form-el-label fs24" for="couponCodeMsn1">쿠폰 번호</label>
                                <div class="form-el-box">
                                    <input type="text" class="form-el form-input-txt form-input-coupon" id="couponCodeMsn1">
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt20">
                            <p class="form-tip fs22 fc-indigo txt-cnt">※ 이벤트 당 동일한 카카오톡 계정으로는 1회만 응모가 가능합니다.</p>
                        </div>
                    </div>
                    <div class="modal-btn-box">
                        <button class="modal-btn__rect" onclick="closeModal('modalCouponMsn1'); openModal('modalPrize');"><span class="label">등록</span></button>
                    </div>
                </div>
            </div>
        </div> <!-- //쿠폰 번호 입력 모달 : 미션 1 -->
        <div class="modal-area" id="modalCouponMsn2">
            <div class="modal-wrap__rlt">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalCouponMsn2');"><span class="txt-hidden">쿠폰 번호 입력 레이어 팝업 닫기</span></a>
                <div class="modal-hd">
                    <p class="modal-hd-greet fs24"><strong>김기아</strong>님 반갑습니다!</p>
                    <span class="modal-coupon-msn-label fw700 fs22">Misson 02</span>
                    <h3 class="modal-hd-tit fw400 fs30 fs26__mo"><b>니로 카카오톡 채널</b>에서 발급받은<br><b>쿠폰번호를 입력해 주세요.</b></h3>
                </div>
                <div class="modal-cont">
                    <div class="form-wrap">
                        <div class="form-row">
                            <div class="form-el-wrap__row">
                                <label class="form-el-label fs24" for="couponCodeMsn2">쿠폰 번호</label>
                                <div class="form-el-box">
                                    <input type="text" class="form-el form-input-txt form-input-coupon" id="couponCodeMsn2">
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt20">
                            <p class="form-tip fs22 fc-indigo txt-cnt">※ 이벤트 당 동일한 카카오톡 계정으로는 1회만 응모가 가능합니다.</p>
                        </div>
                    </div>
                    <div class="modal-btn-box">
                        <button class="modal-btn__rect" onclick="closeModal('modalCouponMsn2'); openModal('modalPrize');"><span class="label">등록</span></button>
                    </div>
                </div>
            </div>
        </div> <!-- //쿠폰 번호 입력 모달 : 미션 2 -->
        <div class="modal-area" id="modalCouponMsn3">
            <div class="modal-wrap__rlt">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalCouponMsn3');"><span class="txt-hidden">쿠폰 번호 입력 레이어 팝업 닫기</span></a>
                <div class="modal-hd">
                    <p class="modal-hd-greet fs24"><strong>김기아</strong>님 반갑습니다!</p>
                    <span class="modal-coupon-msn-label fw700 fs22">Misson 03</span>
                    <h3 class="modal-hd-tit fw400 fs30 fs26__mo"><b>니로 카카오톡 채널</b>에서 발급받은<br><b>쿠폰번호를 입력해 주세요.</b></h3>
                </div>
                <div class="modal-cont">
                    <div class="form-wrap">
                        <div class="form-row">
                            <div class="form-el-wrap__row">
                                <label class="form-el-label fs24" for="couponCodeMsn3">쿠폰 번호</label>
                                <div class="form-el-box">
                                    <input type="text" class="form-el form-input-txt form-input-coupon" id="couponCodeMsn3">
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt20">
                            <p class="form-tip fs22 fc-indigo txt-cnt">※ 이벤트 당 동일한 카카오톡 계정으로는 1회만 응모가 가능합니다.</p>
                        </div>
                    </div>
                    <div class="modal-btn-box">
                        <button class="modal-btn__rect" onclick="closeModal('modalCouponMsn3'); openModal('modalPrize');"><span class="label">등록</span></button>
                    </div>
                </div>
            </div>
        </div> <!-- //쿠폰 번호 입력 모달 : 미션 3 -->
        <div class="modal-area" id="modalCouponMsn4">
            <div class="modal-wrap__rlt">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalCouponMsn4');"><span class="txt-hidden">쿠폰 번호 입력 레이어 팝업 닫기</span></a>
                <div class="modal-hd">
                    <p class="modal-hd-greet fs24"><strong>김기아</strong>님 반갑습니다!</p>
                    <span class="modal-coupon-msn-label fw700 fs22">Misson 04</span>
                    <h3 class="modal-hd-tit fw400 fs30 fs26__mo"><b>니로 카카오톡 채널</b>에서 발급받은<br><b>쿠폰번호를 입력해 주세요.</b></h3>
                    <!-- <h3 class="modal-hd-tit fw400 fs30 fs26__mo">입고 알람을 신청할 대리점<br><b class="fs46">죽전 대리점</b></h3> -->
                </div>
                <div class="modal-cont">
                    <div class="form-wrap">
                        <div class="form-row">
                            <div class="form-el-wrap__row">
                                <label class="form-el-label fs24" for="couponCodeMsn4">쿠폰 번호</label>
                                <div class="form-el-box">
                                    <input type="text" class="form-el form-input-txt form-input-coupon" id="couponCodeMsn4">
                                    <!-- <input type="text" class="form-el form-input-txt form-input-coupon" id="couponCodeMsn4" value="WT45-667T-336W-ELGJ" readonly> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt20">
                            <p class="form-tip fs22 fc-indigo txt-cnt">※ 이벤트 당 동일한 카카오톡 계정으로는 1회만 응모가 가능합니다.</p>
                            <!-- <p class="form-tip fs22 fc-indigo txt-cnt">※ 이미 이벤트 응모가 완료된 쿠폰 번호이므로<br>입고 알람 신청만 반영됩니다.</p>
                            <p class="form-tip mt10 fs22 fc-indigo txt-cnt">※ 입고 알람 신청은 총 5개까지 가능하며,<br>신청 현황은 "응모 내역"에서 확인하실 수 있습니다.</p> 미션 4에 응모했을 경우 노출되는 텍스트 -->
                        </div>
                    </div>
                    <div class="modal-btn-box">
                        <button class="modal-btn__rect" onclick="closeModal('modalCouponMsn4'); openModal('modalPrize');"><span class="label">등록</span></button>
                        <!-- <button class="modal-btn__rect" onclick="closeModal('modalCouponMsn4'); openModal('modalPrize');"><span class="label">입고 알람 신청</span></button> 미션 4에 응모했을 경우 노출되는 버튼 -->
                    </div>
                </div>
            </div>
        </div> <!-- //쿠폰 번호 입력 모달 : 미션 4 -->
        <div class="modal-area" id="modalCouponMsn5">
            <div class="modal-wrap__rlt">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalCouponMsn5');"><span class="txt-hidden">쿠폰 번호 입력 레이어 팝업 닫기</span></a>
                <div class="modal-hd">
                    <p class="modal-hd-greet fs24"><strong>김기아</strong>님 반갑습니다!</p>
                    <span class="modal-coupon-msn-label fw700 fs22">Misson 05</span>
                    <h3 class="modal-hd-tit fw400 fs30 fs26__mo"><b>니로 카카오톡 채널</b>에서 발급받은<br><b>쿠폰번호를 입력해 주세요.</b></h3>
                </div>
                <div class="modal-cont">
                    <div class="form-wrap">
                        <div class="form-row">
                            <div class="form-el-wrap__row">
                                <label class="form-el-label fs24" for="couponCodeMsn5">쿠폰 번호</label>
                                <div class="form-el-box">
                                    <input type="text" class="form-el form-input-txt form-input-coupon" id="couponCodeMsn5">
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt20">
                            <p class="form-tip fs22 fc-indigo txt-cnt">※ 이벤트 당 동일한 카카오톡 계정으로는 1회만 응모가 가능합니다.</p>
                        </div>
                    </div>
                    <div class="modal-btn-box">
                        <button class="modal-btn__rect" onclick="closeModal('modalCouponMsn5'); openModal('modalPrize');"><span class="label">등록</span></button>
                    </div>
                </div>
            </div>
        </div> <!-- //쿠폰 번호 입력 모달 : 미션 5 -->
        <div class="modal-area" id="modalPrize">
            <div class="modal-wrap__rlt">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalPrize');"><span class="txt-hidden">즉석 당첨 경품 결과 레이어 팝업 닫기</span></a>
                <div class="modal-prize-hd__win">
                    <p class="modal-hd-greet fs24 fc-white"><strong>김기아</strong>님 반갑습니다!</p>
                    <span class="modal-prize-label fw700 fs24">즉석 당첨 경품 결과</span>
                    <h3 class="modal-hd-tit fc-white">축하합니다!</h3>
                    <figure class="modal-prize-gift"><img src="../../content/images/modal-prize-coffee2.png" alt="스타벅스 아메리카노"></figure>
                    <p class="modal-prize-txt fc-indigo"><span class="fs32"><b>스타벅스 아메리카노 ICE(TALL)</b>에</span><br>당첨되었습니다.</p>
                </div>
                <div class="modal-cont pt0 white">
                    <p class="form-tip fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>경품은 당첨 확인 후 MMS로 발송(10분 내외 소요) 됩니다.</p>
                    <p class="form-tip mt5 fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>경품 안내 MMS를 받지 못하신 경우 이벤트 운영사무국으로 문의 바랍니다.</p>
                    <p class="form-tip mt5 fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>개인정보 오기입으로 인한 응모 및 경품 수령 실패는 보상해드리지 않습니다.</p>
                    <div class="modal-btn-box pt60">
                        <button class="modal-btn__circ" onclick="closeModal('modalPrize'); openModal('modalCouponMsn1');"><span class="label">등록</span></button>
                    </div>
                </div>
            </div> <!-- //축하합니다! : 스타벅스 아메리카노 당첨 -->
            <div class="modal-wrap__rlt">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalPrize');"><span class="txt-hidden">즉석 당첨 경품 결과 레이어 팝업 닫기</span></a>
                <div class="modal-prize-hd__win">
                    <p class="modal-hd-greet fs24 fc-white"><strong>김기아</strong>님 반갑습니다!</p>
                    <span class="modal-prize-label fw700 fs24">즉석 당첨 경품 결과</span>
                    <h3 class="modal-hd-tit fc-white">축하합니다!</h3>
                    <figure class="modal-prize-gift"><img src="../../content/images/modal-prize-class101.png" alt="포카리스웨트에"></figure>
                    <p class="modal-prize-txt fc-indigo"><span class="fs32"><b>클래스101 / 배민 플랫폼 이용권</b>에</span><br>당첨되었습니다.</p>
                    <!-- <p class="modal-prize-txt fc-indigo"><span class="fs32"><b>포카리스웨트</b>에</span><br>당첨되었습니다.</p> -->
                </div>
                <div class="modal-cont pt0 white">
                    <p class="form-tip fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>경품은 당첨 확인 후 MMS로 발송(10분 내외 소요) 됩니다.</p>
                    <p class="form-tip mt5 fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>경품 안내 MMS를 받지 못하신 경우 이벤트 운영사무국으로 문의 바랍니다.</p>
                    <p class="form-tip mt5 fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>개인정보 오기입으로 인한 응모 및 경품 수령 실패는 보상해드리지 않습니다.</p>
                    <div class="modal-btn-box pt60">
                        <button class="modal-btn__circ" onclick="closeModal('modalPrize'); openModal('modalCouponMsn1');"><span class="label">등록</span></button>
                    </div>
                </div>
            </div> <!-- //축하합니다! : 포카리스웨트 당첨 -->
            <div class="modal-wrap__rlt">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalPrize');"><span class="txt-hidden">즉석 당첨 경품 결과 레이어 팝업 닫기</span></a>
                <div class="modal-prize-hd__fail">
                    <p class="modal-hd-greet fs24"><strong>김기아</strong>님 반갑습니다!</p>
                    <span class="modal-prize-label fw700 fs24 fc-white">즉석 당첨 경품 결과</span>
                    <h3 class="modal-hd-tit">아쉽네요!</h3>
                    <p class="modal-hd-txt fs30 fs26__mo fc-indigo"><span class="txt-linebreak__mo">그렇지만 스탬프를</span> 1개라도 받았다면<br>스페셜 리워드에 자동 응모되니,<br><span class="txt-linebreak__mo">앞으로 남은 이벤트도</span> 계속해서 도전해 주세요.</p>
                </div>
                <div class="modal-cont white pl0 pr0">
                    <h4 class="modal-cont-tit fw400 fs34 fc-indigo"><b><span class="txt-linebreak__mo">이벤트를 한 번이라도</span> 참여한 분</b>에겐<br><span class="txt-linebreak__mo">추첨을 통해</span> <b>스페셜 리워드</b>를 증정합니다!</h4>
                    <figure><img src="../../content/images/modal-prize-rewards-preview.png" alt="스페셜 리워드"></figure>
                    <p class="modal-cont-txt fs24 fc-brown txt-cnt"><span class="txt-linebreak__mo">스페셜 리워드는</span> 8월 3일(화) 이벤트 종료 후,<br>8월 중 추첨 및 일괄 배송 예정입니다.</p>
                </div>
            </div> <!-- //아쉽네요! -->
        </div> <!-- //즉석 당첨 경품 결과 모달 -->
        <div class="modal-area" id="modalHistory">
            <div class="modal-wrap__rlt">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalHistory');"><span class="txt-hidden">내 쿠폰 응모내 역 레이어 팝업 닫기</span></a>
                <div class="modal-hd">
                    <p class="modal-hd-greet fs24"><strong>김기아</strong>님 반갑습니다!</p>
                    <h3 class="modal-hd-tit pt0 fs32">내 쿠폰 응모 내역</h3>
                </div>
                <div class="modal-cont p0 white">
                    <ul class="modal-history-tab-list flex-box flex-spc__btw">
                        <!-- 
                            li 클래스
                            check gift 클래스 추가 시 상품 보이기
                            check no-gift 클래스 추가 시 당첨 내역이 없습니다.
                        -->
                        <li class="check gift">
                            <a href="javascript:void(0);" class="modal-history-tab fs20" data-history="modalHistoryMsn1">
                                <div class="modal-history-tab-badge">
                                    <img src="../../content/images/modal-history-tab-badge-misson-01.png" class="check" alt="Misson 01 경품 당첨 뱃지">
                                    <span class="title-text no-check fs20">EVENT<br /><b class="fs26">01</b></span>
                                </div>
                                <div class="text">
                                    <span class="label fs24 no-check">응모 내역이 없습니다.</span>
                                    <span class="label fs24 no-gift">당첨 내역이 없습니다.</span>
                                    <div class="gift-box">
                                        <img src="../../content/images/modal-prize-image-01.png" alt="스타벅스 아메리카노 HOT(TALL)">
                                        <span class="fs24">스타벅스 아메리카노<br />HOT(TALL)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="check gift">
                            <a href="javascript:void(0);" class="modal-history-tab fs20" data-history="modalHistoryMsn2">
                                <div class="modal-history-tab-badge">
                                    <img src="../../content/images/modal-history-tab-badge-misson-02.png" class="check" alt="Misson 02 경품 당첨 뱃지">
                                    <span class="title-text no-check fs20">EVENT<br /><b class="fs26">02</b></span>
                                </div>
                                <div class="text">
                                    <span class="label fs24 no-check">응모 내역이 없습니다.</span>
                                    <span class="label fs24 no-gift">당첨 내역이 없습니다.</span>
                                    <div class="gift-box">
                                        <img src="../../content/images/modal-prize-image-02.png" alt="스타벅스 아메리카노 HOT(TALL)">
                                        <span class="fs24">클래스101 / 배민 플랫폼<br />이용권</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="modal-history-tab fs20" data-history="modalHistoryMsn3">
                                <div class="modal-history-tab-badge">
                                    <img src="../../content/images/modal-history-tab-badge-misson-03.png" class="check" alt="Misson 03 경품 당첨 뱃지">
                                    <span class="title-text no-check fs20">EVENT<br /><b class="fs26">03</b></span>
                                </div>
                                <div class="text">
                                    <span class="label fs24 no-check">응모 내역이 없습니다.</span>
                                    <span class="label fs24 no-gift">당첨 내역이 없습니다.</span>
                                    <div class="gift-box">
                                        <img src="../../content/images/modal-prize-image-01.png" alt="스타벅스 아메리카노 HOT(TALL)">
                                        <span class="fs24">스타벅스 아메리카노<br />HOT(TALL)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="check no-gift">
                            <a href="javascript:void(0);" class="modal-history-tab fs20" data-history="modalHistoryMsn4">
                                <div class="modal-history-tab-badge">
                                    <img src="../../content/images/modal-history-tab-badge-misson-04.png" class="check" alt="Misson 04 경품 당첨 뱃지">
                                    <span class="title-text no-check fs20">EVENT<br /><b class="fs26">04</b></span>
                                </div>
                                <div class="text">
                                    <span class="label fs24 no-check">응모 내역이 없습니다.</span>
                                    <span class="label fs24 no-gift">당첨 내역이 없습니다.</span>
                                    <div class="gift-box">
                                        <img src="../../content/images/modal-prize-image-02.png" alt="스타벅스 아메리카노 HOT(TALL)">
                                        <span class="fs24">클래스101 / 배민 플랫폼<br />이용권</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="check no-gift">
                            <a href="javascript:void(0);" class="modal-history-tab fs20" data-history="modalHistoryMsn5">
                                <div class="modal-history-tab-badge">
                                    <img src="../../content/images/modal-history-tab-badge-misson-05.png" class="check" alt="Misson 05 경품 당첨 뱃지">
                                    <span class="title-text no-check fs20">EVENT<br /><b class="fs26">05</b></span>
                                </div>
                                <div class="text">
                                    <span class="label fs24 no-check">응모 내역이 없습니다.</span>
                                    <span class="label fs24 no-gift">당첨 내역이 없습니다.</span>
                                    <div class="gift-box">
                                        <img src="../../content/images/modal-prize-image-02.png" alt="스타벅스 아메리카노 HOT(TALL)">
                                        <span class="fs24">클래스101 / 배민 플랫폼<br />이용권</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="modal-history-cont" id="modalHistoryMsn1" style="display: block;">
                        <div class="modal-history-prize-wrap">
                            <!-- <div class="modal-history-prize-box">
                                <p class="modal-history-prize__coffee fs24">스타벅스 아메리카노<br>ICE(TALL)</p>
                            </div> -->
                            <p class="form-tip fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>경품 응모 시마다 지급되는 스탬프를 1개라도 받았다면 자동으로 스페셜 리워드에 응모됩니다.</p>
                            <p class="form-tip mt10 fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>당첨된 경품 안내 MMS를 받지 못하신 경우 이벤트 운영사무국으로 문의 바랍니다.</p>
                        </div>
                        <div class="modal-history-reward-wrap__win">
                            <span class="modal-history-reward-label fs20">스페셜 리워드 당첨 내역</span>
                            <h4 class="modal-history-reward-tit">축하합니다!</h4>
                            <figure class="modal-history-reward"><img src="../../content/images/modal-reward-zflip3.png" alt="삼성 갤럭시 Z Flip3 5G"></figure>
                        </div>
                    </div>
                    <div class="modal-history-cont" id="modalHistoryMsn2">
                        <div class="modal-history-prize-wrap">
                            <!-- <div class="modal-history-prize-box">
                                <p class="fs24 txt-cnt">당첨 내역이 없습니다.</p>
                            </div> -->
                            <p class="form-tip fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>경품 응모 시마다 지급되는 스탬프를 1개라도 받았다면 자동으로 스페셜 리워드에 응모됩니다.</p>
                            <p class="form-tip mt10 fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>당첨된 경품 안내 MMS를 받지 못하신 경우 이벤트 운영사무국으로 문의 바랍니다.</p>
                        </div>
                        <div class="modal-history-reward-wrap__win">
                            <span class="modal-history-reward-label fs20">스페셜 리워드 당첨 내역</span>
                            <h4 class="modal-history-reward-tit">축하합니다!</h4>
                            <figure class="modal-history-reward"><img src="../../content/images/modal-reward-m9.png" alt="LG 코드제로 M9 로봇청소기"></figure>
                        </div>
                    </div>
                    <div class="modal-history-cont" id="modalHistoryMsn3">
                        <div class="modal-history-prize-wrap">
                            <!-- <div class="modal-history-prize-box">
                                <p class="modal-history-prize__pocari fs24">포카리스웨트<br>250ml</p>
                            </div> -->
                            <p class="form-tip fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>경품 응모 시마다 지급되는 스탬프를 1개라도 받았다면 자동으로 스페셜 리워드에 응모됩니다.</p>
                            <p class="form-tip mt10 fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>당첨된 경품 안내 MMS를 받지 못하신 경우 이벤트 운영사무국으로 문의 바랍니다.</p>
                        </div>
                        <div class="modal-history-reward-wrap__win">
                            <span class="modal-history-reward-label fs20">스페셜 리워드 당첨 내역</span>
                            <h4 class="modal-history-reward-tit">축하합니다!</h4>
                            <figure class="modal-history-reward"><img src="../../content/images/modal-reward-gs.png" alt="GS칼텍스 상품권 50,000원"></figure>
                        </div>
                    </div>
                    <div class="modal-history-cont" id="modalHistoryMsn4">
                        <div class="modal-history-prize-wrap">
                            <!-- <div class="modal-history-prize-box">
                                <p class="modal-history-prize__coffee fs24">스타벅스 아메리카노<br>ICE(TALL)</p>
                            </div> -->
                            <p class="form-tip fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>경품 응모 시마다 지급되는 스탬프를 1개라도 받았다면 자동으로 스페셜 리워드에 응모됩니다.</p>
                            <p class="form-tip mt10 fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>당첨된 경품 안내 MMS를 받지 못하신 경우 이벤트 운영사무국으로 문의 바랍니다.</p>
                        </div>
                        <!-- <div class="modal-history-center-wrap">
                            <h4 class="fs32 txt-cnt">입고 알람 신청 전시장</h4>
                            <ul class="modal-history-center-list">
                                <li class="flex-box flex-spc__btw flex-align__cnt">
                                    <span class="fs24">신용산 전시장</span>
                                    <a href="javascript:void(0);" class="delete-btn fs20" onclick="deleteCenter(this);">삭제</a>
                                </li>
                                <li class="flex-box flex-spc__btw flex-align__cnt">
                                    <span class="fs24">죽전 전시장</span>
                                    <a href="javascript:void(0);" class="delete-btn fs20" onclick="deleteCenter(this);">삭제</a>
                                </li>
                                <li class="flex-box flex-spc__btw flex-align__cnt">
                                    <span class="fs24">강남 전시장</span>
                                    <a href="javascript:void(0);" class="delete-btn fs20" onclick="deleteCenter(this);">삭제</a>
                                </li>
                                <li>
                                    <p class="fs24 txt-cnt">입고 알람을 신청한 전시장이 없습니다.</p>
                                </li>
                            </ul>
                            <p class="form-tip mt20 fs18 fc-indigo txt-indent"><i class="mark">※</i>입고 알람 신청은 총 5개 까지 가능합니다.</p>
                        </div> -->
                        <div class="modal-history-reward-wrap__win">
                            <span class="modal-history-reward-label fs20">스페셜 리워드 당첨 내역</span>
                            <h4 class="modal-history-reward-tit">축하합니다!</h4>
                            <figure class="modal-history-reward"><img src="../../content/images/modal-reward-no.png" alt="당첨 내역이 없습니다."></figure>
                        </div>
                    </div>
                    <div class="modal-history-cont" id="modalHistoryMsn5">
                        <div class="modal-history-prize-wrap">
                            <!-- <div class="modal-history-prize-box">
                                <p class="fs24 txt-cnt">당첨 내역이 없습니다.</p>
                            </div> -->
                            <p class="form-tip fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>경품 응모 시마다 지급되는 스탬프를 1개라도 받았다면 자동으로 스페셜 리워드에 응모됩니다.</p>
                            <p class="form-tip mt10 fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>당첨된 경품 안내 MMS를 받지 못하신 경우 이벤트 운영사무국으로 문의 바랍니다.</p>
                        </div>
                        <div class="modal-history-reward-wrap__win">
                            <span class="modal-history-reward-label fs20">스페셜 리워드 당첨 내역</span>
                            <h4 class="modal-history-reward-tit">축하합니다!</h4>
                            <figure class="modal-history-reward"><img src="../../content/images/modal-reward-no.png" alt="당첨 내역이 없습니다."></figure>
                        </div>
                    </div>
                    <div class="modal-history-cont" id="modalHistoryMsn6">
                        <div class="modal-history-prize-wrap">
                            <!-- <div class="modal-history-prize-box">
                                <p class="fs24 txt-cnt">당첨 내역이 없습니다.</p>
                            </div> -->
                            <p class="form-tip fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>경품 응모 시마다 지급되는 스탬프를 1개라도 받았다면 자동으로 스페셜 리워드에 응모됩니다.</p>
                            <p class="form-tip mt10 fw300 fs18 fc-indigo txt-indent"><i class="mark">※</i>당첨된 경품 안내 MMS를 받지 못하신 경우 이벤트 운영사무국으로 문의 바랍니다.</p>
                        </div>
                        <div class="modal-history-reward-wrap__fail">
                            <span class="modal-history-reward-label fs20">스페셜 리워드 당첨 내역</span>
                            <h4 class="pt30 fs30 fw400">스페셜 리워드 당첨 내역이 <b class="txt-linebreak__mo">없습니다.</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- //내 쿠폰 응모 내역 모달 -->
        <div class="modal-area" id="modalRewardWin" style="display: block;">
            <div class="modal-wrap__abs">
                <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalRewardWin');"><span class="txt-hidden">로그인 레이어 팝업 닫기</span></a>
                <div class="modal-hd">
                    <h3 class="modal-hd-tit fs30 fc-white">스페셜 리워드<br><b class="fs36 fc-yellow">당첨자 발표</b></h3>
                </div>
                <div class="modal-cont">
                    <p class="modal-cont-txt txt-cnt fs26 fs24__mo"><span class="txt-linebreak__mo">참여해 주신 모든 분들께</span> 깊은 감사를 드리며,<br>당첨자에게는 개별 연락드리겠습니다.<br><br><span class="txt-linebreak__mo">당첨 여부는</span> 응모 내역에서도 확인 가능합니다.</p>
                </div>
            </div>
        </div> <!-- //스페셜 리워드 당첨자 발표 모달 -->
        <!-- //modal END -->
        <script src="../../content/scripts/common.js"></script>
        <script>
            $(document).ready(function(){
                clickBackmodal();
                showHistory();
            });
        </script>
    </body>
</html>